*.iml
.gradle
/\.kotlin/
/local.properties
/\.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/
/app/local-signing/
*.jks
*.keystore
*.p12
*.pfx
